EVM_PRIVATE_KEY=
PAYWALL_API_BASE_URL=https://api.example.com
PAYWALL_PATH=/weather
AWS_REGION=us-west-2
PAYMENT_MANAGER_ARN=<上記手順3>
PAYMENT_INSTRUMENT_ID=<上記手順4>
PAYMENT_SESSION_ID=<上記手順5>
PAYMENT_USER_ID=<上記手順4/5と同じユーザーID>